@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Playwrite+DE+Grund+Guides&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

:root {
  /* Core Palette */
  --background: #d5f2e3;
  /* soft mint snow */
  --primary: #0f4d1a;
  /* pine tree green */
  --accent: #b3001b;
  /* holly berry red */
  --navy: #2c3e50;

  /* Text Colors */
  --text: #2c3e50;
  --text-secondary: #4f5d56;

  --form-bg: #ffffff;
  --input-bg: #b7efc5;
  --accordion-bg: #b7efc5;

  --border: #7faa00;
  --button-bg: #0b3a09;
  --button-text: #b0bf1a;
  --highlight: #c7d658;
}

body {
  font-family: "Raleway", sans-serif;
}

.app-wrapper {
  width: 100%;
  background-color: var(--background);
  color: var(--text);
  height: 100vh;
}

.grinch {
  background-color: #052802;
  --form-bg: #b0bf1a;
  --input-bg: #dce2a3;
  --border: #7faa00;
  --accordion-bg: #7faa00;
  --accordion-text: #b0bf1a;
  --highlight: #c7d658;
}

.nav {
  background-color: var(--form-bg);
  height: 60px;
  padding: 1rem;
}

input {
  font-family: inherit;
  background-color: var(--input-bg);
  padding: .5rem;
  max-width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--form-bg);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 1px var(--navy);
  margin: 2rem auto;
  width: 90%;
}

.wishForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  width: 70%
}

label {
  font-weight: 700;
}

.wishlistItems {
  border: 2px solid red;
  background-color: var(--accent);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 1px #2C3E50;
}

.wishesContainer {
  background-color: var(--background);
}

.wishShow {
  background-color: white;
  color: #18300f;
  width: 40%;
  border-radius: 1rem;
  overflow-wrap: break-word;
  text-align: left;
  padding: 1rem;
}

.edit {
  background-color: #18300f;
  color: #d5f2e3;
}

.actions {
  padding-top: 1rem;
}

.actions>button {
  width: 30%;
}

button.purchased {
  background-color: #73ba9b;
}

.actions {
  display: flex;
  gap: 5px;
}

.accordion-container {
  background-color: var(--form-bg);
}

.accordion-label {
  background-color: var(--accordion-bg)
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  margin-top: 2rem;
  width: 70%;
}

table,
th,
td {
  border: 1px solid var(--text);
  padding: .5rem;
}