@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Playwrite+DE+Grund+Guides&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  font-family: "Raleway", sans-serif;
  background-color: #d5f2e3;
  color: #2C3E50;
}

input {
  font-family: inherit;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #73ba9b;
  padding: 2rem 0;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 1px #2C3E50;
}

.wishForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  width: 70%
}

label {
  font-weight: 700;
}

button {
  padding: .8rem .5rem;
  width: 50%;
  align-self: center;
  font-family: inherit;
  border-radius: 1rem;
  border: none;
  background-color: #d90429;
  color: #d5f2e3;
  transition: ease-in 1s;
}

button:hover {
  background-color: #18300f;
  transform: translateY(-8px);
}

.wishlistItems {
  border: 2px solid red;
  background-color: #d90429;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
}

.wishCard {
  background-color: white;
  color: #18300f;
  width: 40%;
  border-radius: 1rem;
  overflow-wrap: break-word;
  text-align: left;
  padding: 1rem;
}

.edit {
  background-color: #18300f;
  color: #d5f2e3;
}

.delete {}